<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/leonardo-riascos-20b466200/"
        title="LinkedIn"
        target="_blank"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a href="https://github.com/LeonardoRG7" title="GitHub" target="_blank"
        ><i class="fa fa-github"></i
      ></a>
      <a
        href="https://leonardoriascosportafolio.netlify.app/"
        title="Portafolio"
        target="_blank"
        ><i class="fa fa-link"></i
      ></a>
    </div>
    <p class="footer-copy mt-4" data-section="footer" data-value="copy">
      © RiascosDEV.me All right reserved <br />
      Made with ❤️ in Colombia
    </p>
  </div>
</footer>
